!#include ".Xresources.d/xterm"
!#include ".Xresources.d/urxvt-unicode"

! MAIN CONFIGURATION
!-------------------------------------------------------------------------------
! Set as login shell
URxvt*loginShell: true

! transparency - true or false (default)
!URxvt*transparent: true

! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*saveLines: 12000

! scrollbar - true (default) or false
URxvt*scrollBar: false

! scrollbar position - left=false (default) or right=true
!URxvt*scrollBar_right: true

! scrollbar style - rxvt (default), plain, next, or xterm
!URxvt*scrollstyle: rxvt

!! CURSOR 
!-------------------------------------------------------------------------------
!URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1


!! FONTS
!-------------------------------------------------------------------------------
! Xft (X FreeType) with Bitstream, DejaVu, Liberation, or Terminus fonts:
!  Fedora/debian packages: libXft/libxft2 
!  An anti-aliased font setup with Xft looks fantastic! it can be a bit choppy 
!  on older systems. You can always turn off anti-aliasing (antialias=false) if
!  your terminal is sluggish. Use only ONE of the Xft pairs below:
!
! Xft: Bitstream fonts
!  Fedora/debian packages: bitstream-vera-sans-mono-fonts/ttf-bitstream-vera 
!URxvt*font: xft:Bitstream DejaVu Sans Mono Book:pixelsize=12:antialias=true:hinting=true
!URxvt*boldFont: xft:Bitstream DejaVu Sans Mono Book:bold:pixelsize=12:antialias=true:hinting=true
!URxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=13:antialias=true:hinting=true
!URxvt*boldFont: xft:Bitstream Vera Sans Mono:bold:pixelsize=13:antialias=true:hinting=true


!
! Xft: DejaVu fonts
!  Fedora/debian packages: dejavu-sans-mono-fonts/ttf-dejavu 
!URxvt*font: xft:DejaVu Sans Mono:pixelsize=13:antialias=true:hinting=true
!URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=13:antialias=true:hinting=true
!
! Xft: Liberation fonts
!  Fedora/debian packages: liberation-mono-fonts/ttf-liberation
!URxvt*font: xft:Liberation Mono:pixelsize=14:antialias=true:hinting=true
!URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=14:antialias=true:hinting=true
!
! Xft: Terminus fonts
!  Fedora/debian packages: terminus-fonts/xfonts-terminus
URxvt*font: xft:monospace:pixelsize=12
URxvt*boldFont: xft:monospace:bold:pixelsize=12

! Traditional fonts - a more traditional font setup in lieu of xft
!URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1
!URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1

!! packer -S urxvt-resize-font-git
!URxvt.resize-font.smaller: C-Down
!URxvt.resize-font.bigger: C-Up


! From ARch-Installer-1
!xterm*faceName: Dejavu Sans Mono:style=Book:antialias=true:hinting=medium
!xterm*faceSize: 10
!URxvt.font: xft:Dejavu Sans Mono:bold:size=12:antialias=true:hinting=true
!URxvt.letterSpace: -2
!! USING THESE FONTS
/* URxvt.font: xft:monospace:bold:style=Book:size=10:antialias=true:hinting=true */
!URxvt.font: xft:Px437 ATI 8x16:style=Regular:size=12:antialias=true:hinting=true
!URxvt.font: xft:Px437 IBM VGA9:style=Regular:size=12:antialias=true:hinting=true


!! PERL COMMON EXTENSIONS
!-------------------------------------------------------------------------------
!! Settings from arch wiki https://wiki.archlinux.org/index.php/Rxvt-unicode
!! installed packer -S rxvt-unicode-patched-9.21-3
!! installed pacman -S urxvt-perls
!!-> To enable extensions place the following in ~/.Xresources
!! Common settingd for URxvt.perl.-ext-common, set more features in succession
URxvt.perl-ext-common:default,clipboard,keyboard-select,url-select,tabbedex

!URxvt.perl-ext-common:default,tabbedex
!URxvt.perl-ext-common:default,clipboard


!! CUT AND PASTE
!-------------------------------------------------------------------------------
!!Default key bindings
!!Default X key bindings will still work for copying and pasting.
!!After selecting the text Ctrl+Insert or Ctrl+Alt+C 
!!can be used to copy and Shift+Insert or Ctrl+Alt+V to paste.
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

!! apacman -S urxvt-clipboard
!!for cut and paste
!!ctlr+c ctrl+v, middle mouse


!! URL SELECT
!-------------------------------------------------------------------------------
URxvt.url-select.launcher:  xdg-open
URxvt.url-select.underline: true
!URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search


!! TABS
!-------------------------------------------------------------------------------
!! installed packer -S urxvt-tabbedex-git
!! unset the default shortkeys
!URxvt.tabbed.no-tabbedex-keys: true
!! disable closing last tab

!! Normal tabbed default shortkeys
!!Shift+Down	New tab
!!Shift+Left	Go to left tab
!!Shift+Right	Go to right tab
!!Ctrl+Left	Move tab to the left
!!Ctrl+Right	Move tab to the right
!! Ctrl+d	Close tab
!! tabbedex extension shortkeys
!URxvt.keysym.Control-t: perl:tabbedex:new_tab
!URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
!URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab


!! Tabs URxvt.perl-ext-common:...,tabbed....
!! tab colors
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 0


!! COLORS
!-------------------------------------------------------------------------------
! font color (default is black)

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

!URxvt.color24:  #076678
!URxvt.color66:  #427b58
!URxvt.color88:  #9d0006
!URxvt.color96:  #8f3f71
!URxvt.color100: #79740e
!URxvt.color108: #8ec07c
!URxvt.color109: #83a598
!URxvt.color130: #af3a03
!URxvt.color136: #b57614
!URxvt.color142: #b8bb26
!URxvt.color167: #fb4934
!URxvt.color175: #d3869b
!URxvt.color208: #fe8019
!URxvt.color214: #fabd2f
!URxvt.color223: #ebdbb2
!URxvt.color228: #f2e5bc
!URxvt.color229: #fbf1c7
!URxvt.color230: #f9f5d7
!URxvt.color234: #1d2021
!URxvt.color235: #282828
!URxvt.color236: #32302f
!URxvt.color237: #3c3836
!URxvt.color239: #504945
!URxvt.color241: #665c54
!URxvt.color243: #7c6f64
!URxvt.color244: #928374
!URxvt.color245: #928374
!URxvt.color246: #a89984
!URxvt.color248: #bdae93
!URxvt.color250: #d5c4a1
! hard contrast: 
URxvt.cursorColor:  #ebdbb2
URxvt.pointerColor: #ebdbb2
!URxvt.background: #1d2021
URxvt.highlightColor: #ebdbb2
URxvt.highlighTextColor: #ebdbb2
! medium contrast
URxvt*background: #282828
! soft contrast: *background: #32302f
URxvt.foreground: #ebdbb2
! Black + DarkGrey
URxvt*color0:  #282828
URxvt*color8:  #928374
! DarkRed + Red
URxvt*color1:  #cc241d
URxvt*color9:  #fb4934
! DarkGreen + Green
URxvt*color2:  #98971a
URxvt*color10: #b8bb26
! DarkYellow + Yellow
URxvt*color3:  #d79921
URxvt*color11: #fabd2f
! DarkBlue + Blue
URxvt*color4:  #458588
URxvt*color12: #83a598
! DarkMagenta + Magenta
URxvt*color5:  #b16286
URxvt*color13: #d3869b
! DarkCyan + Cyan
URxvt*color6:  #689d6a
URxvt*color14: #8ec07c
! LightGrey + White
URxvt*color7:  #a89984
URxvt*color15: #ebdbb2


! gruvbox light

!! hard contrast: *background: #f9f5d7
!*background: #fbf1c7
!! soft contrast: *background: #f2e5bc
!*foreground: #3c3836
!! Black + DarkGrey
!*color0:  #fdf4c1
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #9d0006
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #79740e
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #b57614
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #076678
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #8f3f71
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #427b58
!! LightGrey + White
!*color7:  #7c6f64
!*color15: #3c3836
!

!Tokyo Night theme
! general
!*foreground: #a9b1d6
!*background: #1a1b26
!*cursorColor: #a9b1d6
!
!! terminal padding color
!*borderColor: #1a1b26
!
!! black
!*color0: #1a1b26
!*color8: #4e5173
!
!! red
!*color1: #F7768E
!*color9: #F7768E
!
!! green
!*color2: #9ECE6A
!*color10: #9ECE6A
!
!! yellow
!*color3: #E0AF68
!*color11: #E0AF68
!
!! blue
!*color4: #7AA2F7
!*color12: #7AA2F7
!
!! magenta
!*color5: #9a7ecc
!*color13: #9a7ecc
!
!! cyan
!*color6: #4abaaf
!*color14: #4abaaf
!
!! white
!*color7: #acb0d0
!*color15: #acb0d0
! Tokyo Night theme ends

! vscode?
!Theme Eight
!URxvt.background: rgb:10/10/10
!URxvt.foreground: rgb:d3/d3/d3
!URxvt.color0:     rgb:10/10/10
!URxvt.color1:     rgb:cd/5c/5c
!URxvt.color2:     rgb:2e/8b/57
!URxvt.color3:     rgb:f0/e6/8c
!URxvt.color4:     rgb:b0/c4/de
!URxvt.color5:     rgb:ba/55/d3
!URxvt.color6:     rgb:46/82/b4
!URxvt.color7:     rgb:d3/d3/d3
!URxvt.color8:     rgb:4d/4d/4d
!URxvt.color9:     rgb:ff/6a/6a
!URxvt.color10:    rgb:8f/bc/8f
!URxvt.color11:    rgb:ff/fa/cd
!URxvt.color12:    rgb:1e/90/ff
!URxvt.color13:    rgb:db/70/93
!URxvt.color14:    rgb:5f/9e/a0
!URxvt.color15:    rgb:ff/ff/ff

!Theme Eleven
!URxvt.background: rgb:33/33/33
!URxvt.foreground: rgb:ff/ff/ff
!URxvt.color0:     rgb:33/33/33
!URxvt.color8:     rgb:33/33/33
!URxvt.color1:     rgb:ff/a0/a0
!URxvt.color9:     rgb:ff/a0/a0
!URxvt.color2:     rgb:98/fb/98
!URxvt.color10:    rgb:9a/cd/32
!URxvt.color3:     rgb:f0/e6/8c
!URxvt.color11:    rgb:f0/e6/8c
!URxvt.color4:     rgb:87/ce/eb
!URxvt.color12:    rgb:87/ce/eb
!URxvt.color5:     rgb:ff/a0/a0
!URxvt.color13:    rgb:ff/a0/a0
!URxvt.color6:     rgb:87/ce/eb
!URxvt.color14:    rgb:87/ce/eb
!URxvt.color7:     rgb:ff/ff/ff
!URxvt.color15:    rgb:ff/ff/ff
